body{
	font-family: "Courier New", Courier, monospace;
background-image: url(image/bkg.jpg);
background-size: 150%;
background-repeat: no-repeat;

}

.sign{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	background-color: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;

}
.sign h1{
	color: #278ba1;
	margin-bottom: 30px;
}
.email{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #999;
	outline: none;
}
.signup{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #278ba1;

}
.signup:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
	color:#e1aa86 ;
}